<h1>New Game</h1>
<p>
  <ul class="letters">
<% @letters.each do |letter| %>
  <li><%=letter %></li>
<%end%>
  </ul>
</p>


<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<p>What is the longest word you can find ?</p>
  <input type="text" name="name">
  <input type="hidden" name="grid" value="<%= @letters.join %>">
  <input type="submit">
</form>
